body {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease, color 2s ease;
}

body.day {
    background-color: #ffd68f;     /*light orange*/
    color: #fff;
}

body.afternoon {
    background-color: #d1f8ff;     /*light blue*/
    color: #333;
}

body.evening {
    background-color: rgb(215, 112, 43);     /*dark orange-red*/
    color: #fff;
}

body.night {
    background-color: #3b063d;     /*dark pruplish*/
    color: #fff;
}

header, footer {
    padding: 20px;
    background: rgb(255, 255, 255);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}