body {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
    height: 200vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease, color 2s ease;
}

body.day {
    background-color: #ffd68f;     /*light orange*/
    color: #fff;
}

body.afternoon {
    background-color: #d1f8ff;     /*light blue*/
    color: #333;
}

body.evening {
    background-color: rgb(215, 112, 43);     /*dark orange-red*/
    color: #fff;
}

body.night {
    background-color: #3b063d;     /*dark pruplish*/
    color: #fff;
}

header, footer {
    padding: 20px;
    background: rgb(255, 255, 255);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}