@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');


body {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 2s ease, color 2s ease;
}

body.day {
    background-color: #f7e389;     /*light orange*/
    color: #333;
}

body.afternoon {
    background-color: #76e7fb;     /*light blue*/
    color: #333;
}

body.evening {
    background-color: #B02A7A;     /*dark pinkish-red*/
    color: #fff;
}

body.night {
    background-color: #241052;     /*dark purplish*/
    color: #fff;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    flex-shrink: 0;
    padding: 10px 0;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
}

h2 {
    margin-top: 10px;
    font-size: 2.0rem;
}

#time-display {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 6.0rem;
    color: #fff;
}

main p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Style the button container */
#cycle-toggles {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Space between buttons */
}

/* Style the buttons */
#cycle-toggles button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    color: inherit;
    transition: background-color 0.3s ease;
}

#cycle-toggles button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}